@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Hanalei&family=Kirang+Haerang&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moo+Lah+Lah&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    display: grid;
    color: rgb(18, 17, 17);
    background-image: url("/assets/images/jungle-background.png");
    background-attachment: fixed; /* This ensures the background doesn't scroll */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}

.title-div {
    place-self: center;
    width: 50%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

#sloth {
    width: 25%;
}

.mosquito {
    position: absolute;
    top: 150px;
    padding-left: 20px;
    float: left;
    width: 6.5%;
}

.mosquito:hover {
    filter: brightness(1.35);
}

#conversationList {
    margin-top: 20px;
    max-height: 55vh;
    overflow-y: auto;
    padding-bottom: 20px;
}

.conversation-item {
    padding: 10px;
}

.user-query {
    font-weight: bold;
    font-size: 50px;
    color: #b07a58;
    -webkit-text-stroke: 2px rgb(61, 33, 10);
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
}

.ai-response {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.55);
    border: solid 1px black;
    border-radius: 15px;
    line-height: 1.5;
    padding: 10px 10px 10px 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
}

#questionForm {
    border: none;
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    height: 50px;
    width: 50%;
}

#userInput {
    padding-left: 15px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    outline: none;
}

button {
    margin-left: 3vh;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0 10px 0 10px;
}

#linkedin-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    opacity: 0.8;
    font-size: xx-large;
}

#linkedin-link:hover {
    opacity: 1;
}

.link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    opacity: 0.8;
    text-decoration: underline;
}

.link:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    .title-div {
        width: 85% !important;
        height: auto;
    }

    #questionForm {
        width: 90% !important;
    }

    .mosquito {
        width: 20% !important;
    }

    #conversationList {
        max-height: 65vh !important;
    }

    #linkedin-link {
        top: 10px;
        bottom: auto;
        color: white !important;
        opacity: 1 !important;
    }

    .link {
        top: 10px;
        bottom: auto;
        color: white !important;
        opacity: 1 !important;
        font-size: x-small;
    }
}

